.quizzical {
    width: 600px;
    margin: 50px auto;
}

.check-answers {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
}

.check-answers--score {
    color: #293264;
    font-size: 1.4em;
    font-weight: 700;
}

.check-answers--button {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: center;

    background-color: #4D5B9E;
    border-radius: 15px;
    border: none;
    height: 60px;
    width: 200px;

    color: #F5F7FB;
    font-size: 1.2em;
    cursor: pointer;
}